<div class="forgot">
  <div class="displayTableCell">
    <div class="authBlock">
      <h3>Reset Password</h3>
      <br>

      <p class="text-center">Please enter your email address to request a password reset.</p>
      <br>
      <div class="formGroup">
        <input type="email" class="formControl" placeholder="Email Address" #passwordResetEmail required>
      </div>
      <br>

      <!-- Calling ForgotPassword from AuthService Api -->
      <div class="formGroup">
        <input type="submit" class="btn btn-primary" value="Reset Password" (click)="authService.ForgotPassword(passwordResetEmail.value)">
      </div>
      <br>
    </div>

    <div class="redirectToLogin">
      <span>Go back to ? <span style="color:blue" class="redirect" routerLink="/sign-in">Log In</span></span>
    </div>

  </div>
</div>