<div class="dashboard">
  <h3>Admin Dashboard</h3>
  <br>
    <a class="nav-link" href="./userprofile">
      <i class="material-icons">person</i>
      <p>User Profile</p>
    </a>
    <hr>
    <a class="nav-link" href="./guide-request">
      <i class="material-icons">content_paste</i>
      <p>Guide Request List</p>
    </a>
    <hr>
    <a class="nav-link" href="./admin-request">
      <i class="material-icons">content_paste</i>
      <p>Admin Request List</p>
    </a>
    <hr>
    <a class="nav-link" href="./guides">
      <i class="material-icons">library_books</i>
      <p>Guides</p>
    </a>
    <hr>
    <a class="nav-link" href="./locations">
      <i class="material-icons">location_ons</i>
      <p>Locations</p>
    </a>
    <hr>
    <a style="color:black" (click)="authService.SignOut()">
      <i class="material-icons">logout</i> <p> Log Out</p>
    </a>
</div>
  


