.landing-1 {
    color: orangered;
    text-align: center;
    margin-top: 260px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.btn-sign-in {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: white;
    background-color: green;
    float: left;
    margin-left: 30px;
    padding: 20px;
}

.btn-sign-up {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: white;
    float: right;
    margin-right: 30px;
    padding: 20px;
}