<div class="page">
    <div class="container">
      <h2>Sign In</h2>
      <br>
      <div class="formGroup">
        <input type="text" class="formControl" placeholder="Username" #userName required>
      </div>
      <br>
      <div class="formGroup">
        <input type="password" class="formControl" placeholder="Password" #userPassword required>
      </div>

      <br>

      <!-- Calling SignIn Api from AuthService -->
      <div class="formGroup">
        <input type="button" class="btn btn-success" value="Log in" (click)="authService.SignIn(userName.value, userPassword.value)">
      </div>
      <div class="forgotPassword">
        <span routerLink="/forgot-password">Forgot Password?</span>
      </div>

      <div class="redirectToLogin">
          <span class="or"><span class="orInner">Or</span></span>
          <br>
          <span>Don't have an account?</span>
          <div class="formGroup">
              <a class="btn btn-primary" routerLink="/register-user"> Sign Up</a>
            </div>
        </div>

      <div class="">
        <br>
        <hr>
        <a class="btn btn-danger" href="/">Cancel</a>
      </div>
    </div>

    

</div>