<div class="displayTable">
  <div class="displayTableCell">

    <div class="authBlock">
      <h3>Sign Up</h3>
      <br>

      <div class="formGroup">
        <input type="email" class="formControl" placeholder="Email Address" #userEmail required>
      </div>
      <br>
      <div class="formGroup">
        <input type="password" class="formControl" placeholder="Password" #userPwd required>
      </div>
      <br>
      <div class="formGroup">
        <input type="button" class="btn btnPrimary" value="Sign Up" (click)="authService.SignUpGuide(userEmail.value, userPwd.value)">
      </div>
      <br>

      <div class="">
        <a class="btn btn-danger" href="/">Cancel</a>
      </div>
      <br>
    </div>

    <div class="redirectToLogin">
      <span>Already have an account? <span class="redirect" routerLink="/sign-in" style="color:blue">Log In</span></span>
    </div>
  </div>

</div>
