<ion-header>
  <ion-toolbar>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button class="menu-button" expand="full" fill="clear" href="./userprofile"><b>Profile</b></ion-button>
        </ion-col>
      </ion-row>
      <hr>
      <ion-row>
        <ion-col>
          <ion-button class="menu-button" expand="full" fill="clear" href="./admin-requests"><b> Admin Requests</b></ion-button>
        </ion-col>
      </ion-row>
      <hr>
      <ion-row>
          <ion-col>
            <ion-button class="menu-button" expand="full" fill="clear" href="./guide-requests"> <b>Guide Requests</b> </ion-button>
          </ion-col>
      </ion-row>
      <hr>
      <ion-row>
        <ion-col>
          <ion-button class="menu-button" expand="full" fill="clear" href="./guides"> <b>Guides</b> </ion-button>
        </ion-col>
      </ion-row>
      <hr>
      <ion-row>
        <ion-col>
          <ion-button class="menu-button" expand="full" fill="clear" href="#"> <b>Logout</b> </ion-button>
        </ion-col>
      </ion-row>
      <hr>
    </ion-grid>
  
</ion-content>